body{
    background-image: url("IMG/fondo\ blanco\ página\ netflix.jpg");
  } 

  .foto-n{
    height: 10%;
    width: 20%;
  }

  .foto-e{
    height: 30%;
    width: 30%;
    text-align: center;
  }

 ul{
  text-align: center;
 }

 li,dt{
  text-align: left;
  color:#11865f;
  list-style-position:inside;
 }

 h1,h2{
  text-align: center;
  color:#F00FFFF0;
  text-transform:uppercase;
  padding: 4%;
  margin:1%;
 }

 div{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }

 
  