body{
    background-image: url("IMG/fondo\ blanco\ página\ netflix.jpg");
  } 

  .foto-n{
    height: 10%;
    width: 20%;
  }

  .foto-e{
    height: 30%;
    width: 30%;
    text-align: center;
  }

 ul{
  text-align: center;
 }

 h1,h2{
  text-align: center;
 }

 
  